div{ height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(251, 255, 255);
    color: aqua;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 40px;
    margin: 300px;
    transition: backgroundcolor 2s;
}
div.hover{
  background-color: aqua;
}

body{
    background-color: black;
    text-align: center;
}